[submodule "SDK/frameworks/cpp/glGA-5.0/glGA-5.0"]
	path = SDK/frameworks/cpp/glGA-5.0/glGA-5.0
	url = https://github.com/papagiannakis/glGA-5.0.git
	branch = dev
[submodule "GAE"]
	path = SDK/frameworks/cpp/GAE
	url = ssh://git@github.com/ovidVR/GAE.git
	branch = master
[submodule "GATE"]
	path = SDK/frameworks/python/MR-GRAIL
	url = ssh://git@github.com/papagiannakis/MR-GRAIL.git
	branch = master
[submodule "UnityXR-edu"]
	path = SDK/frameworks/unity/UnityXR-edu
	url = ssh://git@github.com/papagiannakis/UnityXR-edu.git
	branch = master
[submodule "pybind11"]
	path = extern/python/computing/pybind11
	url = git@github.com:papagiannakis/pybind11.git
	branch = master
[submodule "scientific-computing-python"]
	path = extern/python/computing/scientific-python-lectures
	url = ssh://git@github.com/papagiannakis/scientific-python-lectures.git
	branch = master
[submodule "numerical-python"]
	path = extern/python/computing/numerical-python-book-code
	url = ssh://git@github.com/papagiannakis/numerical-python-book-code.git
	branch = master
[submodule "pyopencl"]
	path = extern/python/computing/pyopencl
	url = git@github.com:papagiannakis/pyopencl.git
	branch = master
[submodule "clifford"]
	path = extern/python/GA/clifford
	url = git@github.com:papagiannakis/clifford.git
	branch = master
[submodule "galgebra"]
	path = extern/python/GA/galgebra
	url = git@github.com:papagiannakis/galgebra.git
	branch = master
[submodule "pyopengl"]
	path = extern/python/CG/pyopengl
	url = git@github.com:papagiannakis/pyopengl.git
	branch = master
[submodule "pyimgui"]
	path = extern/python/CG/pyimgui
	url = git@github.com:papagiannakis/pyimgui.git
	branch = master
[submodule "pySDL2"]
	path = extern/python/CG/py-sdl2
	url = git@github.com:papagiannakis/py-sdl2.git
	branch = master
[submodule "tqdm"]
	path = extern/python/CG/tqdm
	url = git@github.com:papagiannakis/tqdm.git
	branch = master
[submodule "pyGLM"]
	path = extern/python/CG/PyGLM
	url = git@github.com:papagiannakis/PyGLM.git
	branch = master
[submodule "extern/python/deepLearning/DeepLearningBookCode-Volume1"]
	path = extern/python/deepLearning/DeepLearningBookCode-Volume1
	url = git@github.com:papagiannakis/DeepLearningBookCode-Volume1.git
	branch = master
[submodule "extern/python/deepLearning/DeepLearningBookCode-Volume2"]
	path = extern/python/deepLearning/DeepLearningBookCode-Volume2
	url = git@github.com:papagiannakis/DeepLearningBookCode-Volume2.git
	branch = master
[submodule "extern/python/GI/numpy-smallpt"]
	path = extern/python/GI/numpy-smallpt
	url = git@github.com:papagiannakis/numpy-smallpt.git
	branch = master
