[submodule "SDK/frameworks/cpp/glGA-5.0/glGA-5.0"]
	path = modules/cpp/glGA-5.0/glGA-5.0
	url = https://github.com/papagiannakis/glGA-5.0.git
	branch = dev
[submodule "GAE"]
	path = modules/cpp/GAE
	url = ssh://git@github.com/ovidVR/GAE.git
	branch = master
[submodule "GATE"]
	path = modules/python/MR-GRAIL
	url = ssh://git@github.com/papagiannakis/MR-GRAIL.git
	branch = master
[submodule "pybind11"]
	path = extern/python/computing/pybind11
	url = git@github.com:papagiannakis/pybind11.git
	branch = master
[submodule "scientific-computing-python"]
	path = extern/python/computing/scientific-python-lectures
	url = ssh://git@github.com/papagiannakis/scientific-python-lectures.git
	branch = master
[submodule "numerical-python"]
	path = extern/python/computing/numerical-python-book-code
	url = ssh://git@github.com/papagiannakis/numerical-python-book-code.git
	branch = master
[submodule "pyopencl"]
	path = extern/python/computing/pyopencl
	url = git@github.com:papagiannakis/pyopencl.git
	branch = master
[submodule "clifford"]
	path = extern/python/GA/clifford
	url = git@github.com:papagiannakis/clifford.git
	branch = master
[submodule "galgebra"]
	path = extern/python/GA/galgebra
	url = git@github.com:papagiannakis/galgebra.git
	branch = master
[submodule "pyopengl"]
	path = extern/python/CG/pyopengl
	url = git@github.com:papagiannakis/pyopengl.git
	branch = master
[submodule "pyimgui"]
	path = extern/python/CG/pyimgui
	url = git@github.com:papagiannakis/pyimgui.git
	branch = master
[submodule "pySDL2"]
	path = extern/python/CG/py-sdl2
	url = git@github.com:papagiannakis/py-sdl2.git
	branch = master
[submodule "tqdm"]
	path = extern/python/CG/tqdm
	url = git@github.com:papagiannakis/tqdm.git
	branch = master
[submodule "pyGLM"]
	path = extern/python/CG/PyGLM
	url = git@github.com:papagiannakis/PyGLM.git
	branch = master
[submodule "extern/python/deepLearning/DeepLearningBookCode-Volume1"]
	path = extern/python/deepLearning/DeepLearningBookCode-Volume1
	url = git@github.com:papagiannakis/DeepLearningBookCode-Volume1.git
	branch = master
[submodule "extern/python/deepLearning/DeepLearningBookCode-Volume2"]
	path = extern/python/deepLearning/DeepLearningBookCode-Volume2
	url = git@github.com:papagiannakis/DeepLearningBookCode-Volume2.git
	branch = master
[submodule "extern/python/GI/numpy-smallpt"]
	path = extern/python/GI/numpy-smallpt
	url = git@github.com:papagiannakis/numpy-smallpt.git
	branch = master
[submodule "extern/python/GI/ray-tracing-in-one-weekend-python"]
	path = extern/python/GI/ray-tracing-in-one-weekend-python
	url = git@github.com:papagiannakis/ray-tracing-in-one-weekend-python.git
	branch = master
[submodule "extern/cpp/computing/modern-cpp-features"]
	path = extern/cpp/computing/modern-cpp-features
	url = ssh://git@github.com/papagiannakis/modern-cpp-features.git
	branch = master
[submodule "extern/cpp/computing/learning-cmake"]
	path = extern/cpp/computing/learning-cmake
	url = git@github.com:papagiannakis/learning-cmake.git
	branch = master
[submodule "extern/cpp/computing/glm"]
	path = extern/cpp/computing/glm
	url = git@github.com:papagiannakis/glm.git
	branch = master
[submodule "extern/cpp/GI/raytracing.github.io"]
	path = extern/cpp/GI/raytracing.github.io
	url = git@github.com:papagiannakis/raytracing.github.io.git
	branch = master
[submodule "extern/cpp/GI/cpp-smallpt"]
	path = extern/cpp/GI/cpp-smallpt
	url = git@github.com:papagiannakis/cpp-smallpt.git
	branch = master
[submodule "extern/cpp/GI/spherical-harmonics"]
	path = extern/cpp/GI/spherical-harmonics
	url = ssh://git@github.com/papagiannakis/spherical-harmonics.git
	branch = master
[submodule "extern/cpp/physics/spheretree"]
	path = extern/cpp/physics/spheretree
	url = git@github.com:papagiannakis/spheretree.git
	branch = master
[submodule "extern/cpp/physics/PositionBasedDynamics"]
	path = extern/cpp/physics/PositionBasedDynamics
	url = ssh://git@github.com/papagiannakis/PositionBasedDynamics.git
	branch = master
[submodule "extern/cpp/physics/bullet3"]
	path = extern/cpp/physics/bullet3
	url = https://github.com/papagiannakis/bullet3.git
	branch = master
[submodule "extern/cSharp/GI/cs-smallpt"]
	path = extern/cSharp/GI/cs-smallpt
	url = git@github.com:papagiannakis/cs-smallpt.git
	branch = master
[submodule "extern/cSharp/GI/Ray-tracing-in-one-weekend-CSharp"]
	path = extern/cSharp/GI/Ray-tracing-in-one-weekend-CSharp
	url = git@github.com:papagiannakis/Ray-tracing-in-one-weekend-CSharp.git
	branch = master
