[submodule "SDK/frameworks/cpp/glGA-5.0/glGA-5.0"]
	path = SDK/frameworks/cpp/glGA-5.0/glGA-5.0
	url = https://github.com/papagiannakis/glGA-5.0.git
	branch = dev
[submodule "GAE"]
	path = SDK/frameworks/cpp/GAE
	url = ssh://git@github.com/ovidVR/GAE.git
	branch = master
[submodule "GATE"]
	path = SDK/frameworks/python/MR-GRAIL
	url = ssh://git@github.com/papagiannakis/MR-GRAIL.git
	branch = master
[submodule "UnityXR-edu"]
	path = SDK/frameworks/unity/UnityXR-edu
	url = ssh://git@github.com/papagiannakis/UnityXR-edu.git
	branch = master
[submodule "pybind11"]
	path = extern/python/computing/pybind11
	url = git@github.com:papagiannakis/pybind11.git
	branch = master
[submodule "scientific-computing-python"]
	path = extern/python/computing/scientific-python-lectures
	url = ssh://git@github.com/papagiannakis/scientific-python-lectures.git
	branch = master
